/* 基础样式 */
@tailwind base;

/* 自定义组件样式 */
@tailwind components;

/* Tailwind 工具类 */
@tailwind utilities;

@font-face {
  font-family: "CalSans";
  src: url("/images/CalSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900; /* 支持从 Thin 到 Black 的粗细 */
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* 隐藏整个页面的滚动条，但仍保留滚动功能 */
html {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
}

body {
  -ms-overflow-style: none; /* IE & Edge */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
